PORT=3000
MONGODB_URI=mongodb://localhost:27017/some_db_name
SECRET=somethingSecretHere
TOKEN_EXPIRING_TIME=1800 # 30 minutes

AWS_BUCKET_NAME=<your-aws-bucket>
AWS_BUCKET_REGION=<your-aws-bucker-region>
AWS_ACCESS_KEY=<your-aws-bucket-access-key>
AWS_SECRET_KEY=<your-aws-bucket-secret-key>